<div>

	<div>
		<div>Slideshows list</div>
		<div ng-bind="slideshowsString"></div> 
	</div>

	<form ng-submit="createSlideshow()">
		<span>Dodaj pokaz</span>
		<textarea ng-model="newSlideBody"></textarea>
		<input type="submit" value="Submit"></form>
	</form>


	<form ng-submit="deleteSlideshow()">
		<span>Usun pokaz</span>
		<input ng-model="slideId">
		<input type="submit" value="Submit">
	</form>

	<div style="margin-top : 50px;">
		<h1>TO SO TWOJE PREZENTACJE. KLIKNIJ ZEBY ZOBACZYC SZCZEGOLY</h1>

		<div style="width:20%; float:left">
			<div ng-repeat="slideshow in slideshows track by $index">
				<button type="button" ng-click="onSlideshowSelected(slideshow._id)">
					{{slideshow.document_name}}
				</button>
			</div>
		</div>

		<div ng-bind="selectedSlideshow">
		</div>

	</div>

</div>